<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="registro.nombre" name="nombre" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="registro.apellido" name="apellido" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input [(ngModel)]="registro.edad" name="edad" type="number" min="1" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input [(ngModel)]="registro.rut" name="rut" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="registro.contrasena" name="contrasena" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Registrarse</ion-button>
  </form>

  <ion-text color="danger" *ngIf="errorMessage">{{errorMessage}}</ion-text>
  <ion-text color="success" *ngIf="successMessage">{{successMessage}}</ion-text>
</ion-content>
