<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido {{ usuario }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="comprarEntradas()">Comprar Entrada</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Concierto Indie</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Fecha: 20 de Octubre 2024</p>
      <p>Hora: 8:00 PM</p>
      <p>Precio por entrada: {{ precioEntrada }} CLP</p>
      
      <ion-item>
        <ion-label position="floating">Cantidad de entradas</ion-label>
        <ion-input [(ngModel)]="cantidadEntradas" type="number" min="1"></ion-input>
      </ion-item>
      
      <p>Total a pagar: {{ totalPagar }} CLP</p>

      <ion-button (click)="comprarEntradas()">Comprar</ion-button>

      <ion-text color="success" *ngIf="compraExitosa">{{mensajeExito}}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
