<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido {{ usuario }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="comprarEntradas()">Comprar Entrada</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Seleccione un evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Evento</ion-label>
        <ion-select [(ngModel)]="selectedEvento" (ionChange)="eventoSeleccionado()">
          <ion-select-option *ngFor="let evento of eventos" [value]="evento">{{ evento.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>

      <p *ngIf="selectedEvento">Fecha: {{ selectedEvento.fecha }}</p>
      <p *ngIf="selectedEvento">Hora: {{ selectedEvento.hora }}</p>
      <p *ngIf="selectedEvento">Precio por entrada: {{ selectedEvento.precio }} CLP</p>

      <ion-item *ngIf="selectedEvento">
        <ion-label position="floating">Cantidad de entradas</ion-label>
        <ion-input [(ngModel)]="cantidadEntradas" type="number" min="1"></ion-input>
      </ion-item>

      <p *ngIf="selectedEvento">Total a pagar: {{ totalPagar }} CLP</p>

      <ion-button (click)="comprarEntradas()">Comprar</ion-button>

      <ion-text color="success" *ngIf="compraExitosa">{{mensajeExito}}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
